{% extends 'template.html' %}

{% block title %}Record List{% endblock %}

{% block content %}

<table class="table-responsive">
	<thead>
		<tr>
			<th scope="col">#</th>
			<th scope="col">First Name</th>
			<th scope="col">Middle Name</th>
			<th scope="col">Last Name</th>
			<th scope="col">School Name</th>
			<th scope="col">School Address</th>
		</tr>
	</thead>
	<tbody>
		{% for item in row %}
		<tr>
			<td>{{ item['stud_id'] }}</td>
			<td>{{ item['f_name'] }}</td>
			<td>{{ item['m_name'] }}</td>
			<td>{{ item['l_name'] }}</td>
			<td>{{ item['sch_name'] }}</td>
			<td>{{ item['sch_address'] }}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
<p align="center">
	<em>*********nothing follows*********</em>
</p>

{% endblock %}