{% extends 'template.html' %}

{% block title %}Update Data{% endblock %}

{% block content %}

<div class="container">
	<form class="form-fontrol" action="{{ url_for('admin.update') }}" method="POST">
		<h2 class="text-center mb-4">Update Record</h2>
		{% for row in rows %}
			<input type="hidden" name="id" value="{{ row[0] }}">
			<div class="form-group">
				<label>First Name</label>
				<input type="text" class="form-control" name="fname" value="{{ row[1] }}">
			</div>
			<div class="form-group">
				<label>Middle Name</label>
				<input type="text" class="form-control" name="mname" value="{{ row[2] }}">
			</div>
			<div class="form-group">
				<label>Last Name</label>
				<input type="text" class="form-control" name="lname" value="{{ row[3] }}">
			</div>
			<div class="form-group">
				<label>School Name</label>
				<input type="text" class="form-control" name="schname" value="{{ row[4] }}">
			</div>
			<div class="form-group">
				<label>School Address</label>
				<input type="text" class="form-control" name="schaddress" value="{{ row[5] }}">
			</div>
			<div class="form-group">
				<input class="btn btn-warning btn-block" type="submit" value="Submit">
			</div>
		{% endfor %}
	</form>
</div>

{% endblock %}